.DS_Store
**/.DS_Store
**/testProperties.prop
**/assets/runtimeassets/cadProc/unidade*
jmeter.log
**/jmeter.log
testes-de-carga-stress/resultado.csv
testes-de-carga-stress/resultadoweb
testes-de-monitoramento/monitoramento-cookies-nagios/errors.txt
testes-de-monitoramento/monitoramento-cookies-nagios/assets/*
